{% extends 'base.html' %}

{% block title %}STORY{% endblock %}

{% load static %}

{% block contents %}
<div class="w-100">
    <img src="{% static 'img/story.jpg' %}" alt="" width="100%">
    <div class="position-absolute text-light top-50 translate-middle start-50 pt-10"><h1 style="font-size: 3em;">MUHWA STORY</h1>
    <p>
        <h2 style="letter-spacing: 0.2em;">
            커피를 만나다
        </h2>
        <h2>
            풍경을 만나다
        </h2>
        <h2>
            안녕하십니까
        </h2>
    </p>
    </div>
</div>

<div class="story-modal">

</div>

{% endblock %}