{% extends 'base.html' %}

{% block title %}-BEVERAGE{% endblock %}

{% block header %}
<div style="height:100px; background-color: #deb887;"></div>
{% endblock %}

{% block contents %}
<div style="background: #deb887 ;">
    <div class="container">
        <!-- <h2>BEVERAGE</h2> -->
        
        <div class="row">
            <h3>에이드</h3>
        {% for beverage in beverage_list %}
        {% if beverage.sub_cate == "에이드" %}
            <div class="col col-md-3">
                <img src="{{beverage.photo.url}}" class="img-thumbnail" alt="">
                <p class="text-center">{{beverage.title}}</p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        
        <div class="row">
            <h3>차</h3>
        {% for beverage in beverage_list %}
        {% if beverage.sub_cate == "차" %}
            <div class="col col-md-3">
                <img src="{{beverage.photo.url}}" class="img-thumbnail" alt="">
                <p class="text-center">{{beverage.title}}</p>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}